# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      api:
        image: march4/mytodo-api-dockerhub
        ports:
          - 5258/tcp

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Log in to Docker hub
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    - name: Build docker image 
      run: docker build -t mytodo-api:latest .
    - name: Tag docker image
      run: docker tag mytodo-api:latest ${{ secrets.DOCKER_USERNAME }}/mytodo-api-dockerhub:latest
    - name: Push docker image 
      run: docker push ${{ secrets.DOCKER_USERNAME }}/mytodo-api-dockerhub
    - name: Clean up Docker login credentials
      run: docker logout
